# EmailJS Configuration
# Sign up at https://www.emailjs.com/ to get your credentials

VITE_APP_EMAILJS_SERVICE_ID=your_service_id_here
VITE_APP_EMAILJS_TEMPLATE_ID=your_template_id_here
VITE_APP_EMAILJS_PUBLIC_KEY=your_public_key_here

# Instructions:
# 1. Create an account at EmailJS (https://www.emailjs.com/)
# 2. Create an email service (Gmail, Outlook, etc.)
# 3. Create an email template
# 4. Copy your Service ID, Template ID, and Public Key
# 5. Create a .env file (copy this file) and replace the values above
# 6. Make sure .env is in your .gitignore file
